header {
  top: 0;
  right: 0;
  height: 120px;
  z-index: 999;
  position: fixed;
  left: 0;
}

/* Top bar */

.top_bar {
  height: 39px;
  background-color: #191919;
  color:#ffffff;
  font-weight: 100;
  line-height: 39px;
  padding-left: 20px;
  font-size: 11px;
  letter-spacing: 1.5px;
  -webkit-transition: height .5s; /* Safari */
  transition: height .5s;
  text-align: right;
  padding-right: 4em;
}

.bold_text {
  font-weight: 700;
}

.light_text {
  font-weight: 300;
  margin-left: 30px;
  font-size: 12px;
}

.light_text span{
  font-size: 16px;
  vertical-align: middle;
}

.log_container {
  width: 100%;
}

.actions_a {
  color:transparent;
}

.actions_a:hover, .actions_a:active {
  color: transparent;
}

.black_btn {
  width: 205px;
  background: #1e1e1e;
  padding: 15px 0;
  display: inline-block;
  margin: 30px 15px;
  text-align: center;
  cursor: pointer;
  height: 50px;
  color: #ffffff;
  -webkit-transition: all .3s ease; /* Safari */
  transition: all .3s ease;
}

.black_btn:hover {
  background: #393939;
  color: #ffffff;
  -webkit-transition: all .3s ease; /* Safari */
  transition: all .3s ease;
}

.black_btn:active {
  background: #4f4f4f;
  color: #ffffff;
  -webkit-transition: all .3s ease; /* Safari */
  transition: all .3s ease;
}
